@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

html {
    font-family: 'Montserrat', Ubuntu, system-ui, -apple-system, "Segoe UI", Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: larger;
    color: #111;
    background: linear-gradient(145deg, #f8e7dc 0%, rgb(255, 255, 255) 100%);
}

body{padding: 0; margin: 0;}

a {
    text-decoration: none;
    color: #CE3124;
}

a:hover {
    color: #CE3124;
}

#content {
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-width: 840px;
    padding: 72px 0 48px 0;
    line-height: 1.6em;
}

p {
    font-size: 16px;
}

h1{
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 36px;
}

h2{
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 28px;
}

h2 a{
    font-size: 20px;
    color: #666;
    padding: 0 6px;
}

#menu {
    position: fixed;
    height: 48px;
    background: #fff;
    width: 100%;
    border-bottom: 2px solid #ddd;
    z-index: 2;
    text-align: center;
    color: #ccc;
}

#menu a{
    line-height: 48px;
    padding: 0 12px;
    font-size: 16px;
    color: #666;
}

#menu a:hover{
    color: #111;
    cursor: pointer;
}

.avatar {
    width: 190px;
}

.main-description {
    max-width: 540px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
}

.icons {
    list-style-type: none;
    font-size: x-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 160px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 32px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #CE3124;
}

.research-entry{
    width: 100%;
    float: left;
    text-align: left;
    font-size: .8em;
    line-height: 1.5em;
    margin-top: 12px;
    color: #444;
}
.research-entry-title{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 30%;
    float: left;
    text-align: right;
    color: #111;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
}
.research-entry-description{
    padding-left: 24px;
    width: 70%;
    float: left;
    box-sizing: border-box;
}
.research-entry-description ul{
    margin: 0 0 12px 18px;
    padding: 0;
}
.research-entry-description ul li{
    margin: 12px 0 0 0;
}

.sep-div{
    float: left;
    width: 40%;
    height: 1px;
    background-color: #111;
    margin: 24px 30% 36px 30%;
}

#footnote {
    font-size: .8em;
    color: #666;
}